<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <title>Adaugare Nota</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">


    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/plugins/owl-carousel/owl.theme.css}" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link th:href="@{/plugins/bxslider/jquery.bxslider.css}" rel="stylesheet"/>

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/plugins/modernizr/modernizr-custom.js}"></script>


</head>
<body>
<div id="wrapper">
    <div th:replace="layout :: header"></div>

    <div class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 page-content">
                    <div class="inner-box category-content">
                        <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> Adauga nota </strong></h2>

                        <div class="row">
                            <div class="col-sm-12">

                                <form th:object="${nota}"
                                      th:action="@{'/nota/new'}" method="post"
                                      class="form-horizontal">
                                    <input type="hidden" th:field="*{id}"/>
                                    <input type="hidden" th:field="*{elev}"/>

                                    <div class="content-subheading first">
                                        <i class="icon-book-open"></i>
                                        <strong>
                                            Informatii
                                        </strong>
                                    </div>

                                    <div class="form-group row">
                                        <label  class="col-sm-3 col-form-label">Nume elev</label>
                                        <div class="col-sm-8">
                                            <label th:if="${#fields.hasErrors('elev')}" th:errors="*{elev.nume}"
                                                   class="validation-message"></label>
                                            <input type="text" class="form-control" th:field="*{elev.nume}" required readonly/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label  class="col-sm-3 col-form-label">Prenume elev</label>
                                        <div class="col-sm-8">
                                            <label th:if="${#fields.hasErrors('elev')}" th:errors="*{elev.prenume}"
                                                   class="validation-message"></label>
                                            <input type="text" class="form-control" th:field="*{elev.prenume}" required readonly/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label  class="col-sm-3 col-form-label">Valoare nota</label>
                                        <div class="col-sm-8">
                                            <label th:if="${#fields.hasErrors('valoare')}" th:errors="*{valoare}"
                                                   class="validation-message"></label>
                                            <input type="text" class="form-control" th:field="*{valoare}" required/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label  class="col-sm-3 col-form-label">Data</label>
                                        <div class="col-sm-8">
                                            <label th:if="${#fields.hasErrors('data')}" th:errors="*{data}"
                                                   class="validation-message"></label>
                                            <input id="date" type="text" class="form-control" th:field="*{data}" />
                                            <!--                                            id="date"-->
                                        </div>
                                    </div>


                                    <div class="content-subheading">
                                        <i class="icon-building-filled"></i>
                                        <strong>
                                            Detalii
                                        </strong>
                                    </div>
                                    <div class="form-group row">
                                        <label  class="col-sm-3 col-form-label">Curs</label>
                                        <div class="col-sm-8">

                                            <select id="dropDownProfil" class="form-control"
                                                    name="dropDownProfil" th:field="*{curs}"
                                                    required>

                                                <option th:each="elem : ${cursList}"
                                                        th:value="${elem.id}"
                                                        th:text="${elem.nume}"></option>
                                            </select>

                                        </div>
                                    </div>

<!--                                    <div class="form-group row">-->
<!--                                        <label  class="col-sm-3 col-form-label">Curs</label>-->
<!--                                        <div class="col-sm-8">-->

<!--                                            <select id="subcatList" class="form-control"-->
<!--                                                    name="subcatList"-->
<!--                                                    th:field="*{curs}"-->
<!--                                                    required>-->

<!--                                            </select>-->

<!--                                        </div>-->
<!--                                    </div>-->


                                    <!-- Button  -->
                                    <div class="form-group row">

                                        <div class="col-sm-8">
                                            <button id="btn" type="submit" class="btn btn-success btn-lg">Submit</button>
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.page-content -->

                <!--/.reg-sidebar-->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.main-container -->

</div>
<!-- /.wrapper -->


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- Bootstrap -->
<!-- Bootstrap DatePicker -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<!--<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" type="text/css" />-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $('#date').datepicker({ dateFormat: 'dd/mm/yy' }).val();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery/jquery-3.3.1.min.js">\x3C/script>')</script>

<script th:src="@{/js/vendors.min.js}"></script>

<!-- include custom script for site  -->
<script th:src="@{/js/main.min.js}"></script>


<!-- include jquery file upload plugin  -->
<script th:src="@{/js/fileinput.min.js}" type="text/javascript"></script>
<script>
    // initialize with defaults
    $("#input-upload-img1").fileinput();
    $("#input-upload-img2").fileinput();
    $("#input-upload-img3").fileinput();
    $("#input-upload-img4").fileinput();
    $("#input-upload-img5").fileinput();
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on("change", "#dropDownProfil", function () {
            var categoryId = $(this).val();
            $.ajax({
                type: 'GET',
                url: "/nota/new/loadClase/" + categoryId,
                success: function(data){
                    var slctSubcat=$('#subcatList'), option="";
                    slctSubcat.empty();

                    for(var i=0; i<data.length; i++){
                        option = option + "<option value='"+data[i].value + "'>"+data[i].text + "</option>";
                    }
                    slctSubcat.append(option);
                },
                error:function(){
                    alert("error");
                }
            });
        });
    });
    $(document).ready(function () {
        $(document).on("change", "#subcatList", function () {
            var categoryId = $(this).val();
            $.ajax({
                type: 'GET',
                url: "/nota/new/loadElevi/" + categoryId,
                success: function(data){
                    var slctSubcat=$('#subcatList2'), option="";
                    slctSubcat.empty();

                    for(var i=0; i<data.length; i++){
                        option = option + "<option value='"+data[i].value + "'>"+data[i].text + "</option>";
                    }
                    slctSubcat.append(option);
                },
                error:function(){
                    alert("error");
                }
            });
        });
    });
</script>
</body>
</html>
