<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:javascript="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="header" class="header">
    <nav class="navbar  fixed-top navbar-site navbar-light bg-light navbar-expand-md"
         role="navigation">
        <div class="container">

            <div class="navbar-identity">


                <a th:href="@{/index}" class="navbar-brand logo logo-title">
        			<span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo "></i>
        			</span>PLATFORMA<span>INVATAMANT </span> </a>

                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right"
                        type="button">

                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>
                </button>

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
<!--                    <li class="nav-item"><a th:href="@{/index}">Home</a></li>-->
<!--                    <li class="nav-item"><a th:href="@{/institutie/index}">Institutii</a></li>-->

                </ul>
                <ul class="nav navbar-nav ml-auto navbar-right">

<!--                    <li class="postadd nav-item">-->
<!--                        <a class="btn btn-block   btn-border btn-post btn-success nav-link"-->
<!--                           th:href="@{/institutie/new}">Adauga Institutie</a>-->
<!--                    </li>-->

                    <li class="dropdown no-arrow nav-item">
                        <a class="dropdown-toggle nav-link" data-toggle="dropdown">
                            <span>Adauga</span> <i class="icon-plus"></i> <i class=" icon-down-open-big fa"></i>
                        </a>

                        <ul class="dropdown-menu user-menu dropdown-menu-right">
                            <li class="dropdown-item">
                                <a th:href="@{/institutie/new}">
                                    <i class="icon-th-thumb"></i> Institutie
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a th:href="@{/elev/new}">
                                    <i class="icon-th-thumb"></i> Elev
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a th:href="@{/curs/new}">
                                    <i class="icon-th-thumb"></i> Curs
                                </a>
                            </li>
                            <li class="dropdown-item">
                                <a th:href="@{/profesor/new}">
                                    <i class="icon-th-thumb"></i> Profesor
                                </a>
                            </li>
                        </ul>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>
<!-- /.header -->
</body>
</html>
