<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <title>BOOTCLASIFIED - Responsive Classified Theme</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">


    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/plugins/owl-carousel/owl.theme.css}" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link th:href="@{/plugins/bxslider/jquery.bxslider.css}" rel="stylesheet"/>

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/plugins/modernizr/modernizr-custom.js}"></script>


</head>
<body>
<div id="wrapper">
    <div th:replace="layout :: header"></div>

    <div class="main-container">

        <div class="container">
            <div class="row">
                <div class="col-md-12 page-content col-thin-right">
                    <div class="inner inner-box ads-details-wrapper">
                        <h2>Afisare Regiune</h2>

                        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Informatii</strong></h5>

                            <div class="row">
                                <div class="ads-details-info col-md-8">
                                    <h4>Denumire</h4>
                                    <p th:text="${regiune.nume}"></p>
                                </div>
                            </div>
                        </div>

                        <div class="Ads-Details">
                            <h5 class="list-title"><strong>Subregiuni</strong></h5>

                            <div class="row">
                                <div class="ads-details-info col-md-8">
                                    <ul class="cat-list col-md-12  col-6 col-xxs-12">
                                        <li th:each="elem : ${regiune.subregiuni}" aria-current="page">
                                            <a th:href="@{'/subregiune/show/' + ${elem.id}}" th:text="${elem.nume}"></a>
                                        </li>

                                    </ul>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/.ads-details-wrapper-->

                </div>
                <!--/.page-content-->

            </div>

        </div>

    </div>
    <!-- /.main-container -->

</div>
<!-- /.wrapper -->


<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery/jquery-3.3.1.min.js">\x3C/script>')</script>

<script th:src="@{/js/vendors.min.js}"></script>

<!-- include custom script for site  -->
<script th:src="@{/js/main.min.js}"></script>


<!-- include jquery file upload plugin  -->
<script th:src="@{/js/fileinput.min.js}" type="text/javascript"></script>
<script>
    // initialize with defaults
    $("#input-upload-img1").fileinput();
    $("#input-upload-img2").fileinput();
    $("#input-upload-img3").fileinput();
    $("#input-upload-img4").fileinput();
    $("#input-upload-img5").fileinput();
</script>
</body>
</html>
