<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:javascript="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="shortcut icon" th:href="@{/ico/favicon.png}">

    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}"/>
    <title>Home page</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet">


    <link th:href="@{/css/style.css}" rel="stylesheet">

    <!-- styles needed for carousel slider -->
    <link th:href="@{/plugins/owl-carousel/owl.carousel.css}" rel="stylesheet">
    <link th:href="@{/plugins/owl-carousel/owl.theme.css}" rel="stylesheet">

    <!-- bxSlider CSS file -->
    <link th:href="@{/plugins/bxslider/jquery.bxslider.css}" rel="stylesheet"/>

    <!-- Just for debugging purposes. -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!-- include pace script for automatic web page progress bar  -->
    <script>
        paceOptions = {
            elements: true
        };
    </script>
    <script th:src="@{/js/pace.min.js}"></script>
    <script th:src="@{/plugins/modernizr/modernizr-custom.js}"></script>


</head>
<body>
<div id="wrapper">
    <div th:replace="layout :: header"></div>

    <div class="main-container">
        <div class="container">
            <!--Categories-->
            <div class="col-xl-12 content-box ">
                <div class="row row-featured">
                    <div style="clear: both"></div>
                    <div class="tab-lite relative w100">
                        <ul class="nav nav-tabs " role="tablist">
                            <li role="presentation" class="active nav-item">
                                <a class="nav-link">
                                    <!--                                        href="#tab1" aria-controls="tab1"-->
                                    <!--                                   role="tab" data-toggle="tab"-->
                                    <i class="icon-location-2"></i> Vizualizati
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                <div class="col-xl-12 tab-inner">
                                    <div class="row">
                                        <ul class="cat-list col-md-4  col-6 col-xxs-12">
                                            <li>
                                                <i class="icon-map"></i>
                                                <a href="tipzona/index">Tipuri Zona</a>
                                            </li>
                                            <li>
                                                <i class="icon-location-2"></i>
                                                <a href="regiune/index">Regiuni</a>
                                            </li>
                                            <li>
                                                <i class="icon-location-2"></i>
                                                <a href="subregiune/index">Subregiuni</a>
                                            </li>
                                        </ul>

                                        <ul class="cat-list col-md-4  col-6 col-xxs-12">
                                            <li>
                                                <i class="icon-building-filled"></i>
                                                <a href="institutie/index">Institutii</a>
                                            </li>
                                            <li>
                                                <i class="icon-book-open"></i>
                                                <a href="curs/index">Materii</a>
                                            </li>
                                            <li>
                                                <i class="icon-person"></i>
                                                <a href="profesor/index">Profesori</a>
                                            </li>
                                        </ul>
                                        <ul class="cat-list col-md-4  col-6 col-xxs-12">
                                            <li>
                                                <i class="icon-person"></i>
                                                <a href="elev/index">Elevi</a>
                                            </li>
                                            <li>
                                                <i class="icon-laptop"></i>
                                                <a href="curs/index">Cursuri</a>
                                            </li>
                                            <li>
                                                <i class="icon-network"></i>
                                                <a href="nota/index">Note</a>
                                            </li>
                                        </ul>

                                        <ul class="cat-list col-md-3  col-6 col-xxs-12">

                                        </ul>

                                        <ul
                                            class="cat-list col-md-3  col-6 col-xxs-12">
                                            <li>

                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- /.main-container -->
</div>


<!-- /.header -->
</body>
</html>
